import type {MessageInitShape} from '@bufbuild/protobuf/dist/esm/types'
import {GenMessage} from "@bufbuild/protobuf/codegenv2"
import {create, fromBinary, Message, toBinary} from '@bufbuild/protobuf'
import {
    int_par,
    uint_par,
    float_par,
    ufloat_par,
    trigger_par,
    str_par, ClientBase,
} from "./client_base";
import * as dtos from './api_types_pb'
import {TransportBase, WebsocketTransport, SerialTransport} from "./transport"


export class Client extends ClientBase{
    constructor(transport: TransportBase) {
        super(transport)
    }

    async wait_for_connection(): Promise<void> {
        await this._transport.wait_for_connection()
    }

    {%- for endpoint in api.endpoints %}
    {{ endpoint | request_func | indent }}
    {% endfor %}
}

async function new_client(transport: TransportBase) {
    const client = new Client(transport)
    await client.wait_for_connection()
    //const api_version = await client.get_version()
    //if (api_version.apiHash != {{ api.calculate_hash() }}) {
    //    throw Error('tbd device has incompatible API')
    //}
    return client
}

export async function connect_tbd_via_websocket(): Promise<Client> {
    const transport = new WebsocketTransport(new WebSocket('/ws'))
    return await new_client(transport)
}

export async function connect_tbd_via_serial(): Promise<Client> {
    const port = await navigator.serial.requestPort()
    window.tbd_port = port
    await port.open({ baudRate: 9600 })
    const transport = new SerialTransport(port)
    console.log(port)
    return await new_client(transport)
}