#pragma once

#include "serialized.hpp"

{% for serializable in serializables -%}
#include <{{ serializable.header }}>
{% endfor %}
#include <tbd/errors.hpp>


namespace tbd::presets {

{% for serializable in serializables %}
{%- set full_name = serializable.full_name -%}

inline Error SerializableImpl<{{ full_name }}>::to_dto(const {{ full_name }}& obj, PropertyData<{{ full_name }}>& dto) {
    {% for path, prop in serializable | flattened_properties -%}
    dto.{{ path | snake_name }} = obj.{{ path }};
    {% endfor %}
    return TBD_OK;
}

inline Error SerializableImpl<{{ full_name }}>::from_dto(const PropertyData<{{ full_name }}>& dto, {{ full_name }}& obj) {
    {% for path, prop in serializable | flattened_properties -%}
    obj.{{ path }} = dto.{{ path | snake_name }};
    {% endfor %}
    return TBD_OK;
}

inline Error SerializableImpl<{{ full_name }}>::read_serializable(std::istream& in_stream, {{ serializable.full_name }}& obj) {
{%- for path, property in serializable | flattened_properties %}
    in_stream >> obj.{{ path }};
{%- endfor %}
    return TBD_OK;
}

using {{ serializable.name  }}Foo = Serializable<{{ full_name }}>;

{% endfor %}



}