#include <tbd/api/api_all_endpoints.hpp>
#include <tbd/api/module.hpp>

#include <tbd/api.hpp>
#include <tbd/parameter_types.hpp>
#include <tbd/logging.hpp>

#include "api_message_transcoding.hpp"

using tbd::api::tag;

// endpoint declarations
{%- for endpoint in api.endpoints %}
{{ endpoint | handler_declaration }}
{%- endfor %}

namespace tbd::api {

{% for endpoint in api.endpoints %}
{{ endpoint | callback_implementation }}
{% endfor %}

const uint32_t API_VERSION = {{ api.get_version() }};
const uint32_t BASE_API_HASH = {{ api.calculate_base_hash() }};
const uint32_t API_HASH = {{ api.calculate_hash() }};

const size_t NUM_ENDPOINTS = {{ api.endpoints | length }};
const Endpoint ENDPOINT_LIST[] = { {%- for endpoint in api.endpoints %}
    { "{{ endpoint.name }}", {{ endpoint | request_id }}, {{ endpoint | response_id }}, &{{ endpoint | callback_name }} },
{%- endfor %} 
};

}
