#include <tbd/api/api_all_endpoints.hpp>
#include <tbd/api/module.hpp>

#include <tbd/api.hpp>
#include <tbd/parameter_types.hpp>
#include <tbd/logging.hpp>

#include "api_message_transcoding.hpp"

using tbd::api::tag;

// endpoint declarations
{%- for endpoint in api.endpoints %}
{{ endpoint | shadow_declaration }}
{%- endfor %}

namespace tbd::api {

{% for endpoint in api.endpoints %}
{{ endpoint | callback_implementation }}
{% endfor %}

const uint32_t API_VERSION = {{ api.get_version() }};
const uint32_t CORE_API_HASH = {{ api.calculate_core_hash() }};
const uint32_t BASE_API_HASH = {{ api.calculate_base_hash() }};
const uint32_t API_HASH = {{ api.calculate_hash() }};

const size_t NUM_ENDPOINTS = {{ api.endpoints | length }};
const Endpoint ENDPOINT_LIST[] = { {%- for endpoint in api.endpoints %}
    { "{{ endpoint.name }}", {{ endpoint | request_id }}, {{ endpoint | response_id }}, &{{ endpoint | rpc_handler_name }} },
{%- endfor %} 
};

const size_t NUM_REQUEST_MESSAGES = {{ api.request_types | length }};
const MessageInfo REQUEST_MESSAGE_LIST[] = { {% for request in api.request_types %}
    {% if request.name == 'str_par_request' -%}
    { "{{ request.name }}", MESSAGE_TYPE_REQUEST, 0 },
    {%- else -%}
    { "{{ request.name }}", MESSAGE_TYPE_REQUEST, {{ request.name }}_size },
    {%- endif -%}
    {%- endfor %}
};

const size_t NUM_RESPONSE_MESSAGES = {{ api.response_types | length }};
const MessageInfo RESPONSE_MESSAGE_LIST[] = { {% for response in api.response_types %}
    {% if response.name == 'str_par_wrapper' -%}
    { "{{ response.name }}", MESSAGE_TYPE_RESPONSE, 0 },
    {%- else -%}
    { "{{ response.name }}", MESSAGE_TYPE_RESPONSE, {{ response.name }}_size },
    {%- endif -%}
    {%- endfor %}
};

}
