#include <tbd/api/api_all_endpoints.hpp>
#include <tbd/api/module.hpp>

#include <tbd/api.hpp>
#include <tbd/parameter_types.hpp>
#include <tbd/logging.hpp>

#include <tbd/api/packet_transcoding.hpp>

using tbd::api::tag;

// endpoint declarations
{%- for endpoint in api.endpoints %}
{{ endpoint | shadow_declaration }}
{%- endfor %}

namespace tbd::api::rpc_handlers {

{% for endpoint in api.endpoints %}
Error {{ endpoint | rpc_handler_name }}(const Packet& request, uint8_t* out_buffer, size_t& out_buffer_size) {
    {%- if endpoint | request_type %}
    {{ endpoint | request_type }} in_message;
    if (!decode_packet(in_message, request)) {
        return TBD_ERR(API_DECODE);
    }
    {%- endif -%}
    {%- if endpoint | response_type %}
    {{ endpoint | response_type }} out_message;
    auto& out_value = {{ endpoint | unwrap_response('out_message') }};
    {%- endif %}
    if (const auto err = {{ endpoint | invoke_handler }}; err != errors::SUCCESS) {
        return err;
    }
    {%- if endpoint | response_type %}
    if (!encode_packet(out_message, out_buffer, out_buffer_size)) {
        return TBD_ERR(API_ENCODE);
    }
    {%- endif %}
    return TBD_ERR(SUCCESS);
}
{% endfor %}
}

namespace tbd::api {

const uint32_t API_VERSION = {{ api.get_version() }};
const uint32_t CORE_API_HASH = {{ api.calculate_core_hash() }};
const uint32_t BASE_API_HASH = {{ api.calculate_base_hash() }};
const uint32_t API_HASH = {{ api.calculate_hash() }};

const size_t NUM_ENDPOINTS = {{ api.endpoints | length }};
const Endpoint ENDPOINT_LIST[] = { {%- for endpoint in api.endpoints %}
    { "{{ endpoint.endpoint_name }}", {{ endpoint | request_id }}, {{ endpoint | output_id }}, &{{ endpoint | rpc_handler_full_name }} },
{%- endfor %} 
};

const size_t NUM_REQUEST_MESSAGES = {{ api.request_types | length }};
const MessageInfo REQUEST_MESSAGE_LIST[] = { {% for request in api.request_types %}
    {% if request.name == 'str_par_request' -%}
    { "{{ request.name }}", MESSAGE_TYPE_REQUEST, 0 },
    {%- else -%}
    { "{{ request.name }}", MESSAGE_TYPE_REQUEST, {{ request.name }}_size },
    {%- endif -%}
    {%- endfor %}
};

const size_t NUM_RESPONSE_MESSAGES = {{ api.response_types | length }};
const MessageInfo RESPONSE_MESSAGE_LIST[] = { {% for response in api.response_types %}
    {% if response.name == 'str_par_wrapper' -%}
    { "{{ response.name }}", MESSAGE_TYPE_RESPONSE, 0 },
    {%- else -%}
    { "{{ response.name }}", MESSAGE_TYPE_RESPONSE, {{ response.name }}_size },
    {%- endif -%}
    {%- endfor %}
};

}
