Error {{ endpoint | rpc_handler_name }}(const Packet& request, uint8_t* out_buffer, size_t& out_buffer_size) {
    {% if endpoint | request_type %}
    {{ endpoint | request_type }} in_message;
    if (!decode_message(in_message, request)) {
        return TBD_ERR(API_DECODE);
    }
    {%- endif %}

    {%- if endpoint | response_type -%}
    {{ endpoint | response_type }} out_message;
    auto& out_value = {{ endpoint | unwrap_response }};
    {%- endif %}
    if (auto err = {{ endpoint | invoke_handler }}; err != errors::SUCCESS) {
        return err;
    }
    {%- if endpoint | response_type %}
    if (!encode_message(out_message, out_buffer, out_buffer_size)) {
        return TBD_ERR(API_ENCODE);
    }
    {%- endif %}
    return TBD_ERR(SUCCESS);
}
