Error {{ endpoint | rpc_handler_name }}(const Packet& request, uint8_t* out_buffer, size_t& out_buffer_size) {
    {%- if endpoint | request_type %}
    {{ endpoint | request_type }} in_message;
    if (!decode_message(in_message, request)) {
        return TBD_ERR(API_DECODE);
    }
    {%- endif %}

    str_par out_value;
    if (auto err = {{ endpoint | invoke_handler }}; err != errors::SUCCESS) {
        return err;
    }

    pb_ostream_t stream = pb_ostream_from_buffer(out_buffer, out_buffer_size);

    str_par_wrapper out_message;
    out_message.value.funcs.encode = encode_string;
    out_message.value.arg = &out_value;
    if (!pb_encode(&stream, str_par_wrapper_fields, &out_message)) {
        TBD_LOGE("api", "failed to serialize : %s", PB_GET_ERROR(&stream));
        out_buffer_size = stream.bytes_written;
        return TBD_ERR(API_ENCODE);
    }
    out_buffer_size = stream.bytes_written;
    return TBD_ERR(SUCCESS);
}