build/
*.bak
*.old
*.tmp
*.nogit
~*
.idea
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
__pycache__
managed_components
sdkconfig
ctagSoundProcessorFactory.hpp
tbd/tbd_sound_registry/include/tbd/sound_registry/sound_processor_factory.hpp
