
menu "CTAG TBD Configuration"
        choice CODEC_IC_TYPE
            prompt "Codec IC selection"
            default CODEC_IC_WM8978
            help
                Determines the available CodecManager on the board.
            config CODEC_IC_WM8978
                bool "WM8978"
            config CODEC_IC_WM8731
                bool "WM8731"
        endchoice
        choice TBD_UI_TYPE
            prompt "Wifi or serial UI"
            default WIFI_UI
            help
                Whether to build for Wifi or Serial UI
            config WIFI_UI
                bool "WIFI UI"
            config SERIAL_UI
                bool "SERIAL UI"
        endchoice
endmenu