---
import PluginSelect from "../components/PluginSelect";
import FavoritesSelect from "../components/FavoritesSelect";
import FavoritesButtons from "../components/FavoritesButtons";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CTAG-TBD">
  <h4>Plugin Channel 0</h4>
  <PluginSelect client:load channel="0" />

  <div class="divider"></div>

  <h4>Plugin Channel 1</h4>
  <PluginSelect client:load channel="1" />

  <div class="divider"></div>

  <h4>Favorites</h4>
  <FavoritesSelect client:load />
  <FavoritesButtons client:load />

  <script src="../load.ts"></script>
</Layout>
