{%- macro request_func(endpoint) -%}
{%- set htype = endpoint | endpoint_type -%}
{%- if htype == 'FUNCTION' %}
    async def {{ endpoint.name }}(self, req_message: {{ endpoint | py_arg }}) -> {{ endpoint | py_return }}:
        request = {{ endpoint | py_request }}()
        request.endpoint = {{ endpoint | endpoint_id }}
        request.payload = req_message
        res_data = await self.send(request)
        result = {{ endpoint | py_response }}()
        result.ParseFromString(res_data)
        return result.payload
{%- elif htype == 'GETTER' %}
    async def {{ endpoint.name }}(self) -> {{ endpoint | py_return }}:
        request = api_types_pb2.void_request()
        request.endpoint = {{ endpoint | endpoint_id }}
        res_data = await self.send(request)
        result = {{ endpoint | py_response }}()
        result.ParseFromString(res_data)
        return result.payload
{%- elif htype == 'SETTER' %}
    async def {{ endpoint.name }}(self, req_message: {{ endpoint | py_arg }}) -> None:
        request = {{ endpoint | py_request }}()
        request.request_id = 42
        request.endpoint = {{ endpoint | endpoint_id }}
        request.payload = req_message
        await self.send(request)
{%- else %}
    async def {{ endpoint.name }}(self) -> None:
        request = api_types_pb2.void_request()
        request.endpoint = {{ endpoint | endpoint_id }}
        await self.send(request)
        return None
{%- endif %}
{%- endmacro -%}