{%- macro predeclare_endpoint(endpoint) -%}
{%- set htype = endpoint | endpoint_type -%}
    {%- if htype == 'FUNCTION' -%}
    uint32_t {{ endpoint.name }}(const {{ endpoint.in_message }}&, {{ endpoint.out_message }}&);
    {%- elif htype == 'GETTER' -%}
    uint32_t {{ endpoint.name }}({{ endpoint.out_message }}&);
    {%- elif htype == 'SETTER' -%}
    uint32_t {{ endpoint.name }}(const {{ endpoint.in_message }}&);
    {%- else -%}
    uint32_t {{ endpoint.name }}();
    {%- endif %}
{%- endmacro -%}


{%- macro handler_wrapper_impl(endpoint) -%}
{%- set htype = endpoint | endpoint_type -%}
uint32_t {{endpoint | callback}}(uint8_t* buffer, size_t& length) {
{%- if htype == 'FUNCTION' %}
    {{ endpoint | get_request }} in_message;
    if (!decode_message(in_message, buffer, length)) {
        return errors::API_DECODE;
    }
    {{ endpoint | get_response }} out_message;
    if (auto err = {{ endpoint.name }}(in_message.payload, out_message.payload); err != errors::SUCCESS) {
        return err;
    }
    if (!encode_message(out_message, buffer, length)) {
        return errors::API_ENCODE;
    }
    return errors::SUCCESS;
{%- elif htype == 'GETTER' %}
    {{ endpoint | get_response }} out_message;
    if (auto err = {{ endpoint.name }}(out_message.payload); err != errors::SUCCESS) {
        return err;
    }
    if (!encode_message(out_message, buffer, length)) {
        return errors::API_ENCODE;
    }
    return errors::SUCCESS;
{%- elif htype == 'SETTER' %}
    {{ endpoint | get_request }} in_message;
    if (!decode_message(in_message, buffer, length)) {
        return errors::API_DECODE;
    }
    length = 0;
    return {{ endpoint.name }}(in_message.payload);
{%- else %}
    length = 0;
    return {{ endpoint.name }}();
{%- endif %}
}
{%- endmacro -%}