{%- import 'endpoints.py.j2' as hs with context -%}
from tbd_client_base import *
from contextlib import asynccontextmanager
from websockets.asyncio.client import connect
import api_types_pb2


class TbdClient(TbdClientBase):
{%- for endpoint in registry.endpoints %}
{{hs.request_func(endpoint)}}
{% endfor %} 


@asynccontextmanager
async def open_tbd(url: str = 'ws://localhost:7777/ws'):
    async with connect(url) as websocket:
        yield TbdClient(websocket)