from contextlib import asynccontextmanager
from websockets.asyncio.client import connect
import google.protobuf.message as proto
from .client_base import *

class TbdClient(TbdClientBase):
{%- for endpoint in api.endpoints %}
    {{ endpoint | request_func | indent }}
{% endfor %} 


@asynccontextmanager
async def open_tbd(url: str = 'ws://localhost:7777/ws'):
    async with connect(url) as websocket:
        yield TbdClient(websocket)


__all__ = ['TbdClient', 'open_tbd']
