from contextlib import asynccontextmanager
from websockets.asyncio.client import connect
from .client_base import *

class TbdClient(TbdClientBase):
{%- for endpoint in api.endpoints %}
    {{ endpoint | request_func | indent }}
{% endfor %} 


@asynccontextmanager
async def open_tbd(host: str = 'localhost', port: int = 7777):
    url = f'ws://{host}:{port}/ws'
    async with connect(url) as websocket:
        yield TbdClient(websocket)


__all__ = ['TbdClient', 'open_tbd']
