{% import 'accessors.j2' as ac with context %}
#pragma once

#include <cmath>

#include <tbd/parameter_types.hpp>
#include <tbd/errors.hpp>

#include <tbd/sound_registry/plugin_meta_base.hpp>
#include <tbd/sound_registry/all_sound_processors.hpp>

#include <{{ plugin_header }}>

namespace tbd::sound_registry::meta {

struct {{ meta_name }} : PluginMetaBase {
    {{ meta_name }}() : PluginMetaBase({{ plugin_id }}) {}
    ~{{ meta_name }}() override = default;

    void init() override {
        plugin_.init();
    }

    void process(const sound_processor::channels::Channels channels,
                 const sound_processor::ProcessData& data) override
    {
        using namespace sound_processor::channels;

        process_updates();
        populate_parameters(data);
        {% if plugin.is_stereo -%}
        plugin_.process_stereo(data.both(), data.both());
        {% else -%}
        if (channels == CM_LEFT) {
            plugin_.process_mono(data.both(), data.left());
        } else if (channels == CM_RIGHT) {
            plugin_.process_mono(data.both(), data.right());
        }
        {%- endif %}
    }

    [[nodiscard]] bool is_stereo() const override {
        return plugin_.is_stereo();
    }

protected:
    void populate_parameters(const sound_processor::ProcessData& data) {
        {%- for index, param in params %}
         // mapping parameter {{index}}: {{param.name}}
        if (mappings_[{{index}}] >= 0) {
            auto value = {{ac.value_from_cv(index, param)}};
            {{param|setter}}(plugin_, data.cv[mappings_[{{index}}]]);
        }
        {%- endfor %}
    }

    void process_updates() {
        if (operation_cleared_) {
            return;
        }
        switch (operation_.type) {
            case WriteOperation::SET_MAPPING: {
                mappings_[operation_.parameter] = operation_.value.mapping;
                break;
            }
            case WriteOperation::SET_INT: {
                const auto setter_id = operation_.parameter;
                int_setters[setter_id](plugin_, operation_.value.int_param);
                break;
            }
            case WriteOperation::SET_UINT: {
                const auto setter_id = operation_.parameter - {{ plugin.num_ints }};
                uint_setters[setter_id](plugin_, operation_.value.uint_param);
                break;
            }
            case WriteOperation::SET_TRIGGER: {
                const auto setter_id = operation_.parameter - {{ plugin.num_ints }} - {{ plugin.num_uints }};
                trigger_setters[setter_id](plugin_, operation_.value.trigger_param);
                break;
            }
            case WriteOperation::SET_FLOAT: {
                const auto setter_id = operation_.parameter - {{ plugin.num_ints }} - {{ plugin.num_uints }} - {{ plugin.num_triggers }};
                int_setters[setter_id](plugin_, operation_.value.float_param);
                break;
            }
            default:
                break;
        }
        operation_cleared_ = true;
    }

    {% if plugin.num_ints %}
     // {{plugin.num_ints}} int params
    {%- for param in plugin.int_params %}
    {{ac.int_setter_impl(plugin, param)}}
    {%- endfor %}
    {% else %}
     // no int params 
    {% endif %}
    
    {% if plugin.num_uints %}
     // {{plugin.num_uints}} uint params
    {% for param in plugin.uint_params %}
    {{ac.uint_setter_impl(plugin, param)}}
    {%- endfor %}
    {% else %}
     // no uint params 
    {% endif %}


    {% if plugin.num_triggers %}
     // {{plugin.num_triggers}} trigger params
    {% for param in plugin.trigger_params %}
    {{ac.trigger_setter_impl(plugin, param)}}
    {%- endfor %}
    {% else %}
     // no trigger params 
    {% endif %}
    
    {% if plugin.num_floats or plugin.num_ufloats %}
     // {{plugin.num_floats + plugin.num_ufloats }} float params
    {% for param in plugin.float_params %}
    {{ac.float_setter_impl(plugin, param)}}
    {%- endfor %}
    {%- for param in plugin.ufloat_params %}
    {{ac.float_setter_impl(plugin, param)}}
    {%- endfor %}
    {% else %}
     // no float params 
    {% endif %} 

private:
    parameters::Mapping mappings_[{{ plugin.num_params }}];
    
    using IntSetter = void(*)({{ plugin.full_name }}&, int_par);
    static IntSetter int_setters[{{ plugin.num_ints }}];

    using UIntSetter = void(*)({{ plugin.full_name }}&, uint_par);
    static UIntSetter uint_setters[{{ plugin.num_uints }}];
    
    using TriggerSetter = void(*)({{ plugin.full_name }}&, trigger_par);
    static TriggerSetter trigger_setters[{{ plugin.num_triggers }}];
    
    using FloatSetter = void(*)({{ plugin.full_name }}&, float);
    static FloatSetter float_setters[{{ plugin.num_floats + plugin.num_ufloats}}];

    {{ plugin.full_name }} plugin_;
};

}
