async def {{ endpoint.name }}({{ endpoint | func_args }}) -> {{ endpoint | request_func_return }}:
    {%- if endpoint | request_type %}
    request = dtos.{{ endpoint | request_type }}()
    {%- for assignment in endpoint | forward_args('request') %}
    {{ assignment }}
    {%- endfor %}
    payload = request.SerializeToString()
    {%- else %}
    payload = None
    {%- endif %}
    {%- if endpoint | response_type %}
    res_data = await self._client.send_rpc({{ endpoint | endpoint_id }}, payload)
    result = dtos.{{ endpoint | response_type }}()
    result.ParseFromString(res_data)
    return {{ endpoint | unwrap_response }}
    {%- else %}
    await self._client.send_rpc({{ endpoint | endpoint_id }}, payload)
    {%- endif %}