from typing import Final

from .client import *

from . import api_types_pb2 as dtos

class TbdRpc:
    def __init__(self, client: TbdClient):
        self._client: Final = client
{% for endpoint in api.endpoints %}
    async def {{ endpoint.name }}({{ endpoint | func_args }}) -> {{ endpoint | request_func_return }}:
        {%- if endpoint | request_type %}
        request = dtos.{{ endpoint | request_type }}()
        {%- for assignment in endpoint | apply_args('request', single_arg_name='input') %}
        {{ assignment }}
        {%- endfor %}
        payload = request.SerializeToString()
        {%- else %}
        payload = None
        {%- endif %}
        {%- if endpoint | response_type %}
        res_data = await self._client.send_rpc({{ endpoint | endpoint_id }}, payload)
        result = dtos.{{ endpoint | response_type }}()
        result.ParseFromString(res_data)
        return {{ endpoint | unwrap_response('result') }}
        {%- else %}
        await self._client.send_rpc({{ endpoint | endpoint_id }}, payload)
        {%- endif %}
{% endfor %} 


__all__ = ['TbdRpc']
