async {{ endpoint.name }}({{ endpoint | request_func_args }}): Promise<{{ endpoint | request_func_return }}> {
    const request: MessageInitShape<GenMessage<dtos.{{ endpoint | request_type }}>> = {
        endpoint: {{ endpoint | endpoint_id }},
        {%- for arg in endpoint | forward_args %}
        {{ arg }},
        {%- endfor %}
    }
    const response = await this.send(dtos.{{ endpoint | request_type }}Schema, request, dtos.{{ endpoint | response_type }}Schema)
    return {{ endpoint | result_value }}
}