---
import "../globals.css";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="CTAG TBD >>to be determined<< an extendible open source Eurorack sound module"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>CTAG-TBD</title>
  </head>
  <body>
    <Navbar title={title} />
    <slot />
  </body>
</html>
