#include <tbd/errors.hpp>

namespace tbd::errors {

const size_t NUM_ERRORS = {{ errors | length + 2 }};

const ErrorInfo ERROR_LIST[] = {
{%- for _, name, description in errors %}
    {"{{ name }}", "{{ description }}"},
{%- endfor %}
};

}
