menu "CTAG TBD Plugins"
    

    config TBD_PLUGINS_E_CHORUS_ENABLED
        bool "enable e chorus"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_WT_OSC_ENABLED
        bool "enable wt osc"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_BJORKLUND_ENABLED
        bool "enable bjorklund"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_B_BEATS_ENABLED
        bool "enable b beats"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MI_VERB_ENABLED
        bool "enable mi verb"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_KARPUSKL_ENABLED
        bool "enable karpuskl"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MI_ENSEMBLE_ENABLED
        bool "enable mi ensemble"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_STRAMP_DLY_ENABLED
        bool "enable stramp dly"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_REC_N_PLAY_ENABLED
        bool "enable rec n play"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MI_DIFU_ENABLED
        bool "enable mi difu"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TB_DAITS_ENABLED
        bool "enable tb daits"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MAC_OSC_ENABLED
        bool "enable mac osc"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_FB_DLY_LINE_ENABLED
        bool "enable fb dly line"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MISVF_ENABLED
        bool "enable MISVF"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_M_SXX_NOISE_ENABLED
        bool "enable m sxx noise"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_G_VERB_ENABLED
        bool "enable g verb"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_WT_OSC_DUO_ENABLED
        bool "enable wt osc duo"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_ROMPLER_ENABLED
        bool "enable rompler"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_FORMANTOR_ENABLED
        bool "enable formantor"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_VCTR_SNT_ENABLED
        bool "enable vctr snt"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_BCSR_ENABLED
        bool "enable BCSR"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TB_DINGS_ENABLED
        bool "enable tb dings"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_F_VERB_ENABLED
        bool "enable f verb"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_DUST_ENABLED
        bool "enable dust"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TB_DEEP_ENABLED
        bool "enable tb deep"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_SUB_SYNTH_ENABLED
        bool "enable sub synth"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_DRUM_RACK_ENABLED
        bool "enable drum rack"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_SINE_SRC_ENABLED
        bool "enable sine src"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MI_CHORUS_ENABLED
        bool "enable mi chorus"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_VOID_ENABLED
        bool "enable void"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_GD_VERB2_ENABLED
        bool "enable gd verb2"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_HIHAT1_ENABLED
        bool "enable hihat1"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_GD_VERB_ENABLED
        bool "enable gd verb"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TEST_PROCESSOR_ENABLED
        bool "enable test processor"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_T_DELAY_ENABLED
        bool "enable t delay"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_C_DELAY_ENABLED
        bool "enable c delay"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_CLAUDE_ENABLED
        bool "enable claude"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TBD03_ENABLED
        bool "enable TBD03"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_POLY_PAD_ENABLED
        bool "enable poly pad"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_FREAKWAVES_ENABLED
        bool "enable freakwaves"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_TALKBOX_ENABLED
        bool "enable talkbox"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_P_NOISE_ENABLED
        bool "enable p noise"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_C_STRIP_M_ENABLED
        bool "enable c strip m"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MIP_SHFT_ENABLED
        bool "enable mip shft"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_D_LOOP_ENABLED
        bool "enable d loop"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MAC_OSC_DUO_ENABLED
        bool "enable mac osc duo"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_ANTIQUE_ENABLED
        bool "enable antique"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_EVERY_TRIM_ENABLED
        bool "enable every trim"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_SUBBOTNIK_ENABLED
        bool "enable subbotnik"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_SIMPLE_VCA_ENABLED
        bool "enable simple vca"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MOOG_FILT_ENABLED
        bool "enable moog filt"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_SPACE_FX_ENABLED
        bool "enable space fx"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_RETROACTOR_ENABLED
        bool "enable retroactor"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_AP_CPP_ENABLED
        bool "enable ap cpp"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_C_STRIP_ENABLED
        bool "enable c strip"
        default y
        help 
            add to rom or not

    config TBD_PLUGINS_MI_VERB2_ENABLED
        bool "enable mi verb2"
        default y
        help 
            add to rom or not

    
endmenu